body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #111111;
}

#dvd {
    position: absolute;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 300px;
    height: 100px;
    color: #fff;
}

#dvd:before {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "meow";
    font-size: 175px;
}
